.createCompany{
    width: 100%;
    max-width: 75%;
    margin:40px auto;
}
.organization{
    margin-bottom: 20px;
}
.form-details{
    max-width: 2000px;
    margin:0px auto;
}
.companyName{
    font-size: 17px;
}
.form-details>h1{
    background-color:#251657;
    color:white; 
    padding:20px;
    padding-left: 5px;
}
.form-details>.create__company>h2{
    background-color:#f0f2f5;
    padding:10px;
    padding-left: 0px;
}