.post{
    display:flex;
    margin-top: 30px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -9px black;
    width:100%;
    max-width: 75%;
    margin:40px auto;
}
.post_top{
    display:flex;
    border-bottom: 1px solid white;
    padding:15px;
}
.post_top>form{
    flex:1;
    display:flex;
}
.post_top>form>input{
    border:none;
    background-color: #eff2f3;
    padding:5px 20px;
    border-radius: 999px;
    margin:0 10px;
    outline-width: 0px;
}
.post_top>form>button{
    display:none;
}
.post_input{
    flex:1;
}
.post_bottom{
    display:flex;
    justify-content: space-evenly;
    word-wrap: wrap;
}
.post_option{
    padding:20px;
    display: flex;
    color:grey;
    margin:5px;
    flex:1;
}
.post_option>h3{
    margin-left: 10px;
    font-size: medium;
    cursor:pointer;
}
.post_option:hover{
    background-color: #eff2f5;
    border-radius: 20px;
}

