.group_main{
    max-width:750px;
    margin:0 auto;
}
.group_top{
    display: flex;
    justify-content: space-between;
}
.btn{
    background-color: rgb(20, 43, 87);;
    color:white;
    margin-left: 10px;
}